// COLORS
$color-primary: #DFB2A9;
$color-primary-light: lighten(#DFB2A9, 10%);
$color-primary-dark: darken(#DFB2A9, 10%);
$color-white: #fff;
$color-black: #000;
$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

// SECTION: CARD
.card {
  // FUNCTIONALITY
  position: relative;
  height: 100%;
  width: 100%;

  &__side {
    //height: 100%;
    transition: all .8s ease;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &--front {
      background-color: $color-white;
    }
  }

  // FRONT SIDE STYLING
  &__picture {
    background-size: cover;
    height: 15rem;
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);
  }

  &__heading {
    font-size: 2.6rem;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center;
    color: $color-white;
    position: absolute;
    top: 2.5rem;
    width: 100%;

  }

  &__heading-span {
    padding: 1rem 1.5rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
    //background-image: linear-gradient(to right bottom,
    //  rgba($color-primary-light, .85),
    //  rgba($color-primary-dark, .85));
  }

  &__details {
    padding: 1rem;

    ul {
      list-style: none;
      width: 100%;
      margin: 0 auto;
      padding: inherit;

      li {
        text-align: center;
        font-size: 1.25rem;
        padding: 1rem;
        line-height: 1rem;

        &:not(:last-child) {
          border-bottom: 1px solid $color-grey-light-2;
        }
      }
    }
  }

  //@include respond(tab-port) {
  @media only screen and (max-width: 56.25em),
  only screen and (hover: none) {

    height: auto;
    border-radius: 3px;
    background-color: $color-white;
    box-shadow: 0 1.5rem 4rem rgba($color-black, .15);

    &__side {
      height: auto;
      position: relative;
      //box-shadow: none;
    }

    &__details {
      padding: 1rem 2rem;
      width: 100%;
    }

    // FRONT SIDE STYLING
    &__cta {
      position: relative;
      top: 0;
      left: 0;
      transform: translate(0);
      width: 100%;
      padding: 7rem 4rem 4rem 4rem;
    }
  }

}

// END SECTION: CARD
